<h1>Entry</h1>
 
 <ul>
   <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>"><%= entry["title"] %></a>
    </li>
   <% end %>
</ul>

<p><a href="/places/<%= @place["id"] %>">Create a new entry</a></p>