<!-- Entry details page -->

<h1> <%= @place["name"]%> </h1>

<ul>
  <li><%= @entry["title"] %></li>
  <li><%= @entry["posted_on"] %></li>
  <li><%= @entry["description"] %></li>
</ul>

<p><a href="/entries/new">Create a new entry</a></p>